body {
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

/* -------- 1. HEADER SECTION --------- */
header{
    box-shadow: 0 0 10px 0 grey;
    display: flex;
    padding: 12px;
    flex-direction: row;
    position: fixed;
    width: 100%;
    justify-content: center;
    margin: 0;
    z-index: 9999;
    background-color: white;

}

nav {
  text-align: center;
  padding: 0 140px;
  display: flex;
  flex-direction: row;
  align-self: center;
}

nav ul {
  display: block;
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {


  text-align: center;
  line-height: normal;
  text-decoration: none;
  padding: 20px;
  color: #044c7f;
  font-size: 14px;
  font-weight: 700;
}
li a:hover {
  color: #b9cedc;
}


/* -------- 1.1 LOGO --------- */
#logo{
  float: left;
  margin: 10px;
  align-self: center;
  padding: 0 90px 0 0;
}

/* -------- 1.2 IKON UDENFOR USER NAVN --------- */
#usericon {
   align-self: center;
}

/* -------- 1.3 USER NAVN OG IKON --------- */
#userinfo{
  display: flex;
  flex-direction: row;
  padding: 0  0 0 90px;
  align-self: center;
}

#userinfo p {
  font-weight: 700;
  color: #044c7f;
  font-size: 14px;
}
#userinfo p:hover{
  color: #b9cedc;
}

#user-dropdown, #usericon {
  padding: 0 2px;
}

#user-dropdown {
  padding: 0px;
}

#user-dropdown button {
  padding: 2px;
}

/* -------- 1.4 DASHBOARD DROPDOWN  --------- */

.dashbutton {
    color: #044c7f;
    padding: 0 16px;
    font-size: 16px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Lato', sans-serif;

}

.dashboard-dropdown {
    position: relative;
    display: inline-block;
    align-self: center;
}

.dash-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dash-content a {
    color: #044c7f;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    font-weight: 100;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}


.dashboard-dropdown:hover .dash-content {
    display: block;
}

.dash-content a:hover {
  background-color: #f1f1f1;
}



/* -------- 2. MAIN  --------- */

/* -------- 2.1 INTRO OG GUIDE  --------- */
#guidecontainer {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  margin: 0;
  background-color: #f7f7f7;
  width: 100%;
}

.backgroundimg {
  background-repeat: no-repeat;
  z-index:-100;
  background-image: image("assets/images/keducommunity.jpg");
}

#slogan {
  font-weight: 100;
  font-style: italic;
  font-size: 17px;
  position: absolute;
  top: 300px;
  left: 100px;
  color: white;
}

.boldheadline {
margin: 20px 0 0 0;
color: #044c7f;
font-size: 33px;
}

.guide {
  font-size: 20px;
  line-height: 33px;
  text-align: justify;
}

#guideindex {
  position: absolute;
  top: 350px;
  left: 100px;
  width: 50%;
  color: white;
}

#indexheadline {
  position: absolute;
  top: 200px;
  left: 100px;
  color: white;
font-size: 70px;
}
/* -------- 2.2 FOUR OPTIONS GRID  --------- */

#fouroptions {
  margin-top: 60px;
}

.rowone{
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rowtwo {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#lessonssection, #forumsection, #materialssection, #mediasection {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

#lessonssection img, #forumsection img, #materialssection img, #mediasection img {
  position: relative;
}

#lessonstext, #forumtext, #materialstext, #mediatext {
  background-color: rgb(255, 255, 255, 0.7);
  padding: 40px 90px;
  text-align: center;
  align-self: center;
  position: relative;
  top: -280px;
  left: auto;
  color: #044c7f;
  font-weight: 400;
  font-size: 25px;
}
#lessonssection a, #forumsection a, #materialssection a, #mediasection a{
  text-decoration: none;
}



/* -------- 3. FOOTER  --------- */
footer {
  background-color: #044c7f;
  color: white;
  justify-content: center;

}

footer p {
  font-weight: 400;
}

footer h2 {
  margin-top: 50px;
}



/* -------- 3.2 CONTACT INFORMATION  --------- */
#yourmessage{
  height: 200px;
  width: 350px;
}

#yourname,#email,#yourmessage{
  display:flex;
  flex-direction: column;
  margin: 20px;
}

#yourname{
  height: 30px;
  width: 350px;

}

#email{
  height: 30px;
  width: 350px;
}

#sendbutton {
  width: 100px;
  height: 40px;
  margin: 5px 20px;
}

.contactform{
  padding-left: 150px;
}

.contactform h2{
  margin-top: 50px;
  margin-left: 20px;
}
.aboutfooter{
  width: 300px;
  padding-left: 20px;
}
#adress{

  text-align: center;
  padding: 40px;
  padding-top:80px;
  margin: 0;

}
.linksfooter{
  padding-right: 150px;
  margin-right:  20px;
}
.linksfooter a{
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 10px;

}
.footer1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*--------- 4. lessons ---------*/

#lessonscontainer, #forumcontainer{
  margin-top: 50px;
  padding: 100px 145px;
  margin: 0;
  background-color: #f7f7f7;
}

/* -------- 4.1 INTRO OG GUIDE  --------- */



#headlinelessons {
margin: 20px 0 0 0;
color: #044c7f;
font-size: 33px;
}

#lessonsguide {
  font-size: 20px;
  line-height: 33px;

}

/* -------- 4.2 Lessonsplans  --------- */

#lessonboxes {
  padding-left: 0;
  padding-top: 40px;
}

.regularheadline{
  font-size: 33px;
  font-weight: 400;
  color: #044c7f;
}

.box1, .box2, .box3, .box4, .box5{
  border: none;
  width: 160px;
  height: 200px;
  font-size: 12px;
  padding-left: 10px;
  margin-right: 30px;
  box-shadow: 0 0 10px 0 grey;
}

.icons{
  display: flex;
  flex-direction: column;

}

.icons img {
  padding-top: 15px;
  align-self: center;

}


.normallesson, .time, .subject, .grade{
  display: flex;
  flex-direction: row;
}

.normallesson p, .time p, .subject p, .grade p{
  align-self: center;
  margin: 0;
  padding-top: 15px;
  padding-left: 10px;
}

#normallessons{
  align-self: center;
}
.boxes{
  display: flex;
  flex-direction: row;
  padding: 40px 0;
  animation-name: slideup;
  animation-duration: 1s;
  transform: translateY(3%);
}
.boxes1{
  display: flex;
  flex-direction: row;

  padding: 20px 0;
}

#lessonsboxes2{
    padding:0;
  }
  #lettersheadline{
    font-size: 33px;
    font-weight: 400;
    color: #044c7f;
  }

  /*------- 5. MY LESSONS -------- */

  #headlinemylessons{
    font-size: 33px;
    font-weight: 400;
    color: #044c7f;
  }
  #mylessonboxes {
    padding-left: 130px;
    padding-top: 40px;
  }

  .standardbutton {
      background-color: #00a19b;
      color: white;
      padding: 15px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 10px;
      border-color: #00a19b;
      border: 1px solid #00a19b;
}
.standardbutton:hover{
  background-color: white;
  color: #00a19b;
  border: 1px solid #00a19b;
}
.boxicons1{
  display: flex;
  flex-direction: column;
}
.boxicons2{
  display: flex;
  flex-direction: column;

}


/* -------- 5.1 LESSONS TABS -------- */
.lessontabs {
  margin-top: 40px;
}

#mylessonsbutton{
font-weight: 400;
}

#kubolessonsbutton {
  font-weight: 700;
}



#lessonsboxesboth{
  display: block;
  padding-left: 130px;
}

#mylessonboxes {
  display: none;
}

/* -------- 5.2 CREATE NEW LESSON -------- */
select:focus {
  outline: 0;
}


#createnewlesson{
  display: flex;
  flex-direction: column;
  position: fixed;
  display: none;
  z-index: 99999;
  padding-top: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  background-color: rgba(0, 75, 131, 0.5); /
}

#createnewlessonchild {
  background-color: white;
  margin: 0px auto 100px auto;
  padding: 50px 0px 70px 60px;
  width: 60%;
  -webkit-box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.3);
  animation: slidein 1s;
  transform: translateY(3%);

  }

@keyframes slidein {
  0% {
    transform: translateY(-100%);
  }

    100%  {
              transform: translateY(3%);

          }

  }

#descriptiontextarea {
height: 300px;
width: 350px;
font-size: 14px;
margin-top: 30px;
border-color: #eae9e9;
-webkit-box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.3);
-moz-box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.3);
}

#descriptiontextarea:focus {
  outline: 0px;
}

#nameoflessoninput {
  height: 30px;
  width: 340px;
  font-size: 14px;
  margin-top: 30px;
  padding-left: 6px;
  -webkit-box-shadow: 0px 3px 16px 0px rgba(25, 25, 25, 0.3);
  -moz-box-shadow: 0px 3px 16px 0px rgba(25, 25, 25, 0.3);
  box-shadow: 0px 3px 16px 0px rgba(25, 25, 25, 0.3);
  border:none
}

#nameoflessoninput:focus {
  outline: 0px;
}

#prompterrormessage {
  display: inline;
}

#selectcategorydropdown, #searchtimedropdown, #searchcategorydropdown, #selectforumcategorydropdown{
  width: 350px;
  height: 40px;
  font-size: 14px;
  margin-top: 30px;
  color: grey;
  -webkit-box-shadow: 0px 3px 16px 0px rgba(25, 25, 25, 0.3);
  -moz-box-shadow: 0px 3px 16px 0px rgba(25, 25, 25, 0.3);
  box-shadow: 0px 3px 16px 0px rgba(25, 25, 25, 0.3);
}

#selectgradelevel {
  font-size: 14px;
  margin-top: 10px;
}

#selectdifficultydropdown {
  width: 350px;
  height: 40px;
  font-size: 14px;
  margin-top: 30px;
  color: grey;
  -webkit-box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.3);
}

#choosetimedropdown {
  width: 350px;
  height: 40px;
  font-size: 14px;
  margin-top: 30px;
  color: grey;
  -webkit-box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.3);
    border-radius: 0px;
}

#addmaterialdiv p{
  font-size: 14px;
  margin-left: 10px;
}

#addmaterialdiv img {
  margin: 14px 10px;
}

#addmaterialdiv {
  margin-top: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #eae9e9;
  width: 350px;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.3);
}

#savebutton {
  font-size: 14px;
  margin-top: 30px;
}

.addicons1{
  margin-top: 20px;
}
.addicons2{
  margin-top: 20px;

}
/* -------- 6 MATERIALS -------- */

/* -------- 6.1 MATERIALS INTRO BOKS og TABS -------- */
#materialsintro {
display: flex;
margin-top: 50px;
flex-direction: column;
padding: 100px 145px;
margin: 0;
background-color: #f7f7f7;
}


.materialtabbuttons {
  text-align: center;
  line-height: normal;
  color: #00a19b;
  font-size: 20px;
  border: none;
  background-color: transparent;
  padding: 0;
}
.materialtabs {
  margin-top: 40px;
}

#mybutton, #combutton {
font-weight: 400;
}

#kedubutton {
  font-weight: 700;
}



#kedumaterial {
  display: block;
}

#mymaterial {
  display: none;
}

#communitymaterial {
  display: none;
}

button:focus { /*Fjerner den blå kant rundt om knapper*/
  outline:0;
}


/* -------- 6.2 KEDU MATERIAL TAB -------- */


#kedumaterial {
  padding: 0 130px;
  padding-bottom: 60px;
  padding-top: 40px;

}



#worksheet1, #worksheet2,#worksheet3,#worksheet4, #worksheet5, #worksheet6, #worksheet7, #worksheet8, #worksheet9{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 30px;
}

.downloadicondiv img {
  margin: 16px 0;
}
.downloadicondiv:hover{
  opacity: 0.5;
    filter: alpha(opacity=50);
}

.materialdiv img {
  align-self: center;
  padding-right: 10px;
  padding-left: 40px;
}

.materialdiv {
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  animation-name: slideup;
  animation-duration: 1s;
  transform: translateY(3%);

}




@keyframes slideup {
0% {
  transform: translateY(10%);
  opacity: 0;
}

  100%  {
            transform: translateY(3%);
            opacity: 1;

        }

}


.downloadicon {

}



#worksheet1:hover, #worksheet2:hover, #worksheet3:hover, #worksheet4:hover, #worksheet5:hover, #worksheet6:hover, #worksheet7:hover, #worksheet8:hover, #worksheet9:hover  {
  background-color: #f1f1f1;
  color: #b9cedc;
}


/* -------- 6.3 MY MATERIAL TAB -------- */
#filupload {
  padding-bottom: 30px;
}

#mymaterial {
padding: 0 130px;
padding-bottom: 60px;
padding-top: 40px;
}

#myfile1, #myfile2, #myfile3, #myfile4 {
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#myfile1 {
  padding-top: 30px;
}

#myfile4 {
  padding-bottom: 30px;
}

#myfile1:hover, #myfile2:hover, #myfile3:hover, #myfile4:hover{
  background-color: #f1f1f1;
  color: #b9cedc;
}

.iconsmaterial img {
  margin: 16px 0;
}

#addicon:hover{
  opacity: 0.5;
    filter: alpha(opacity=50);
}
#editicon:hover{
  opacity: 0.5;
    filter: alpha(opacity=50);
}
#deleteicon:hover{
  opacity: 0.5;
    filter: alpha(opacity=50);
}
.downloadicon:hover{
  opacity: 0.5;
    filter: alpha(opacity=50);
}
#shareicon:hover{
  opacity: 0.5;
    filter: alpha(opacity=50);
}
#likeicon:hover{
  opacity: 0.5;
    filter: alpha(opacity=50);
}
#commenticon:hover{
  opacity: 0.5;
    filter: alpha(opacity=50);
}

/* -------- 6.4 COMMUNITY MATERIAL TAB -------- */
#communitymaterial{
  padding: 0 130px;
  padding-bottom: 60px;
  padding-top: 40px;
}

#comfile1, #comfile2, #comfile3{
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#comfile1:hover, #comfile2:hover, #comfile3:hover{
  background-color: #f1f1f1;
  color: #b9cedc;
}

#comfile1 {
  padding-top: 30px;
}

#comfile3 {
  padding-bottom: 30px;
}

.comicons img {
  margin: 16px 0;
}

/*----- MEDIA ----- */
#banner{
  display: flex;
  flex-direction: column;
}

#mediabannerimg {
  margin-top: 65px;
}

#mediaheadline{
  position: absolute;
  top: 150px;
  left: 100px;
  color: white;
}

#mediap{
  position: absolute;
  top: 200px;
  left: 100px;
  color: #fff;
}

#billede1{
  position: absolute;
  left: 100px;
  top: 500px;
}
#billede2{
  position: absolute;
  right: 100px;
  top: 500px;
}

/* -------- 7. FORUM --------- */
#forumsearch{
border: 1px grey;
width: 80%;
font-size: 12px;
box-shadow: 0 0 10px 0 grey;
display: flex;
flex-direction: column;
margin: auto;
margin-top: 50px;
margin-bottom: 60px;
}

#searchforumdiv {
background-color: #1b5c90;
color: white;
}


#searchcategorydropdown, #searchtimedropdown, #keywords {
    border: 1px solid #1b5c90;
    height: 30px;
    width: 40%;
    font-size: 14px;
    margin-top: 30px;
    padding-left: 6px;
    margin-left: 40px;
    -webkit-box-shadow: 0px 3px 16px 0px rgba(25, 25, 25, 0.3);
    -moz-box-shadow: 0px 3px 16px 0px rgba(25, 25, 25, 0.3);
    box-shadow: 0px 3px 16px 0px rgba(25, 25, 25, 0.3);
}

input:focus {
  outline: 0;
}

#searchheadline {
  padding-left: 40px;
  font-weight: 400;
}

#searchbutton {
  margin: 40px;

}





/* --------- 7.1 NY POST FORUM ------- */
#nameofpostinput{
  height: 30px;
  width: 340px;
  font-size: 14px;
  margin-top: 30px;
  padding-left: 6px;
  -webkit-box-shadow: 0px 3px 16px 0px rgba(25, 25, 25, 0.3);
  -moz-box-shadow: 0px 3px 16px 0px rgba(25, 25, 25, 0.3);
  box-shadow: 0px 3px 16px 0px rgba(25, 25, 25, 0.3);
  border:none
}

#createnewpost {
  padding: 30px 50px;
  background-color: white;
  margin: 0px auto 100px auto;
  padding: 50px 0px 70px 60px;
  width: 60%;
  -webkit-box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.3);
  animation: slidein 1s;
  transform: translateY(3%);
}

#createpost {
  margin-top: 30px;
  margin-bottom: 20px;
}

#createnewpostparent {
  display: flex;
  flex-direction: column;
  position: fixed;
  display:none;
  z-index: 99999;
  padding-top: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  background-color: rgba(0, 75, 131, 0.5);

}

#createnewpost {
  background-color: white;
  margin: 0px auto 100px auto;
  padding: 50px 0px 70px 60px;
  width: 60%;
  -webkit-box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.3);
  animation: slidein 1s;
  transform: translateY(3%);

}

#usertextarea {
  height: 300px;
  width: 350px;
  font-size: 14px;
  margin-top: 30px;
  border-color: #eae9e9;
  -webkit-box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.3);
}

/* ------- DIV DER VISER POSTS ------- */

#forumpostscontainer {
  background-color: #b9cedc;
  border: 1px grey;
  width: 80%;
  font-size: 12px;
  box-shadow: 0 0 10px 0 grey;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 60px;
}

.titlewithcreatepost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1b5c90;
}

.recentpostsheadline {
  color: white;
  font-weight: 400;
  padding: 10px 40px;
}

#createpostbutton {
  align-self: center;
  background-color: #1b5c90;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 10px 40px;
  margin-top: 17px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid white;
}

#createpostbutton:hover {
  background-color: white;
  color: #1b5c90;
  border: 1px solid #1b5c90;
}


/* ------- RECENT POSTS ------- */
#posts {
  width: 100%;
  height: 500px;
  border: 1px grey;
  color: black;
  font-family: 'Lato', sans-serif;


}

#userposts {
  background-color: white;
  font-weight: 400;
  margin: 10px 25px ;
  padding: 10px 25px ;
  display: none;
}

#posttitle {
  font-size: 33px;
}

#postmessage, #postcategory {
  font-size: 14px;
}
