body {
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

/* -------- 1. HEADER SECTION --------- */
header{
    box-shadow: 0 0 10px 0 grey;
    display: flex;
    padding: 12px;
    flex-direction: row;
    position: fixed;
    width: 100%;
    justify-content: center;
    margin: 0;
    z-index: 9999;
    background-color: white;
    position: sticky;
}

nav {
  text-align: center;
  padding: 0 140px;
}

nav ul {
  display: block;
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {

  font-size: x-large;
  text-align: center;
  line-height: normal;
  text-decoration: none;
  padding: 20px;
  color: #044c7f;
  font-size: 14px;
  font-weight: 700;
}

/* -------- 1.1 LOGO --------- */
#logo{
  float: left;
  margin: 10px;
  align-self: center;
  padding: 0 90px 0 0;
}

/* -------- 1.2 IKON UDENFOR USER NAVN --------- */
#usericon {
   align-self: center;
}

/* -------- 1.3 USER NAVN OG IKON --------- */
#userinfo{
  display: flex;
  flex-direction: row;
  padding: 0  0 0 90px;
}

#userinfo p {
  font-weight: 700;
  color: #044c7f;
  font-size: 14px;
}

#usernavn, #usericon {
  padding: 0 2px;
}


/* -------- 2. MAIN  --------- */

/* -------- 2.1 SECTION MED INTRO OG GUIDE  --------- */
#guidecontainer {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  padding: 90px 130px;
  margin: 0;
  background-color: #FAFAFA;

}

#slogan {
  margin: 0;
  padding: 2px 0 0 0;
  font-weight: 100;
  font-style: italic;
}

#boldheadline {
margin: 20px 0 0 0;
color: #044c7f;
font-size: 33px;
}

#guide {
  font-size: 20px;
  line-height: 33px;
}
