body {
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

/* -------- 1. HEADER SECTION --------- */
header{
    box-shadow: 0 0 10px 0 grey;
    display: flex;
    padding: 12px;
    flex-direction: row;
    position: fixed;
    width: 100%;
    justify-content: center;
    margin: 0;
    z-index: 9999;
    background-color: white;

}

nav {
  text-align: center;
  padding: 0 140px;
  display: flex;
  flex-direction: row;
  align-self: center;
}

nav ul {
  display: block;
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {


  text-align: center;
  line-height: normal;
  text-decoration: none;
  padding: 20px;
  color: #044c7f;
  font-size: 14px;
  font-weight: 700;
}
li a:hover {
  color: #b9cedc;
}


/* -------- 1.1 LOGO --------- */
#logo{
  float: left;
  margin: 10px;
  align-self: center;
  padding: 0 90px 0 0;
}

/* -------- 1.2 IKON UDENFOR USER NAVN --------- */
#usericon {
   align-self: center;
}

/* -------- 1.3 USER NAVN OG IKON --------- */
#userinfo{
  display: flex;
  flex-direction: row;
  padding: 0  0 0 90px;
  align-self: center;
}

#userinfo p {
  font-weight: 700;
  color: #044c7f;
  font-size: 14px;
}
#userinfo p:hover{
  color: #b9cedc;
}

#user-dropdown, #usericon {
  padding: 0 2px;
}

#user-dropdown {
  padding: 0px;
}

#user-dropdown button {
  padding: 2px;
}

/* -------- 1.4 DASHBOARD DROPDOWN  --------- */

.dashbutton {
    color: #044c7f;
    padding: 0 16px;
    font-size: 16px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Lato', sans-serif;

}

.dashboard-dropdown {
    position: relative;
    display: inline-block;
    align-self: center;
}

.dash-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dash-content a {
    color: #044c7f;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    font-weight: 100;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}


.dashboard-dropdown:hover .dash-content {
    display: block;
}

.dash-content a:hover {
  background-color: #f1f1f1;
}



/* -------- 2. MAIN  --------- */

/* -------- 2.1 INTRO OG GUIDE  --------- */
#guidecontainer {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  padding: 90px 130px;
  margin: 0;
  background-color: #f7f7f7;

}

#slogan {
  margin: 0;
  padding: 2px 0 0 0;
  font-weight: 100;
  font-style: italic;
  font-size: 17px;
}

#boldheadline {
margin: 20px 0 0 0;
color: #044c7f;
font-size: 33px;
}

#guide {
  font-size: 20px;
  line-height: 33px;
  text-align: justify;
}

/* -------- 2.2 FOUR OPTIONS GRID  --------- */

#fouroptions {
  margin-top: 60px;
}

.rowone{
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rowtwo {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#lessonssection, #forumsection, #materialssection, #mediasection {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

#lessonssection img, #forumsection img, #materialssection img, #mediasection img {
  position: relative;
}

#lessonstext, #forumtext, #materialstext, #mediatext {
  background-color: rgb(255, 255, 255, 0.7);
  padding: 40px 90px;
  text-align: center;
  align-self: center;
  position: relative;
  top: -280px;
  left: auto;
  color: #044c7f;
  font-weight: 400;
  font-size: 25px;
}
#lessonssection a, #forumsection a, #materialssection a, #mediasection a{
  text-decoration: none;
}



/* -------- 3. FOOTER  --------- */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #044c7f;
  color: white;
  padding: 0 0 50px 0;
}

footer p {
  font-weight: 400;
}

footer h1 {
  margin-top: 50px;
}

/* -------- 3.1 FAQ  --------- */
#faqcontainer {
  padding-right: 400px;
}

/* -------- 3.2 CONTACT INFORMATION  --------- */
#yourmessage{
  height: 300px;
  width: 350px;
}

#yourname,#email,#yourmessage{
  display:flex;
  flex-direction: column;
  margin: 20px;
}

#yourname{
  height: 30px;
  width: 350px;

}

#email{
  height: 30px;
  width: 350px;
}

#sendbutton {
  width: 100px;
  height: 40px;
  margin: 5px 20px;
}



.contactform h1{
  margin-top: 50px;
  margin-left: 20px;
}

/*--------- 4. lessons ---------*/

#lessonscontainer{
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  padding: 90px 130px;
  margin: 0;
  background-color: #f7f7f7;
}

/* -------- 4.1 INTRO OG GUIDE  --------- */



#headlinelessons {
margin: 20px 0 0 0;
color: #044c7f;
font-size: 33px;
}

#lessonsguide {
  font-size: 20px;
  line-height: 33px;
  text-align: justify;
}

/* -------- 4.2 Lessonsplans  --------- */



/* -------- 5 MATERIALS -------- */

/* -------- 5.1 MATERIALS INTRO BOKS og TABS -------- */
#materialsintro {
display: flex;
margin-top: 50px;
flex-direction: column;
padding: 90px 130px;
margin: 0;
background-color: #f7f7f7;
}

.tablinks
